*{
    background-color: bisque;
}
.ingredients,
.ingredients li {
    background-color: black;
    color: orange;
}
.steps,
.steps li {
    background-color: rgb(233, 233, 138);
    color: rgb(2, 139, 139);
}